*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Open /sans', sans-serif;
  line-height: 1.5;
}

.floating-button{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 35px;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #000000, #000);
    border-radius: 50%;
    padding: 20rem;
    cursor: pointer;
}